div.presentation {
  div.title-container {
    div.title {
      h1 {
    
        line-height: 3.25rem;
    
        span:after {
          content: "";
          width: 100%;
          height: 2.5rem;
          background-image: url(../assets/ink.svg);
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          position: absolute;
          bottom: -40%;
          z-index: -1;
        }
    
      }
    }
  
    p {
      line-height: 1.095rem;
    }
  }

  form {

    input {
      width: 110%;
    }
  }
}

section:not(.newsletter):not(.most-popular):not(.clients) {
  margin-bottom: 3vh;
}

.carrossel-container {
  transition: left .5s ease-in-out;
  left: 0;
}

section.clients {
  div.container-clients::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 639px) {
  form {
    width: 100% !important;
  }
}

@media (min-width: 1023px) and (max-width: 1279px) {
  form {
    width: 115%;

    input {
      width: 60% !important;
    }
  }
}

@media (min-width: 1279px) {
  form {
    width: 100%;
  }
}

@media (min-width: 1279px) and (max-width: 1300px) {
  form {
    input {
      width: 80% !important;
    }
  }
}